* {
  margin: 0;
  padding: 0;
  letter-spacing: -1.3px;
}

body {
  display: flex;
  flex: 1 0;
  height: 100vh;
}

.todos_wrap {
  width: 650px;
  background-color: palevioletred;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todos_wrap > .header {
  color: white;
  display: flex;
  justify-content: space-between;
}

.todos_wrap > .header > h2 {
  font-weight: 400;
}
.todos_wrap > .header > button {
  border: none;
  color: white;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.todo_wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 100%;
  background-color: aquamarine;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  gap: 10px;
}

.input #todo {
  width: 85%;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
}

input.add_input {
  width: 100% !important;
}

.todo_item {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  padding: 15px;
  border-radius: 5px;
  align-items: center;
  box-sizing: border-box;
}

.todo_item > .buttons {
  display: flex;
  gap: 10px;
}

.todo_item strong {
  font-weight: 400;
  font-size: 14px;
}

.todo_item strong.checked {
  text-decoration: line-through;
}

.todo_item button {
  background-color: blue;
  color: white;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}
.todo_item button.delete_btn {
  background-color: red;
}
